body {
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;

}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
}

p{
    color: dimgray;
}

.orange-highlight {
    color: orange;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url("../images/top-banner.png");
    background-repeat: no-repeat;

}

.middle-banner {
    background-image: url("../images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

section {
    height: 500px;
    padding-bottom: 150px;
}

.experience-area div {
    box-shadow: 5px 7px 40px gray;
    height: 60%;
}

.experience-area {
    background-image: url("../images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack {
    border-left: 7px solid;
    border-image:linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    background-color: white;
}

#baby-web {
    border-left: 7px solid;
    border-image:linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;

}

footer p {
    text-align: center;
}